<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Travel booking</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<style>
	form {
		display: block;
	}
	input {
		width: 200px;
}
</style>
</head>
<body>
	<h1>Add new train type</h1>
	<form action="#" th:action="@{savetype}" method="post" th:object="${traintype}">
		<div><label>Train: </label><input type="text" th:field="*{name}" required/></div>
		<div><input type="submit" value="Add"/></div>
	</form>
</body>
</html>