<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Travel booking</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link type="text/css" rel="stylesheet" href="css/css/bootstrap.min.css" th:href="@{css/css/bootstrap.min.css}"/>
</head>
<body>
	<div class="container">
		<h1>Add new trip</h1>
		<div class="form-group">
			<form action="#" th:action="@{savetrip}" method="post" th:object="${trip}">
				<div><label>From: </label><input class="form-control" type="text" th:field="*{departure}" required/></div>
				<div><label>Destination: </label><input class="form-control"  type="text" th:field="*{destination}" required/></div>
				<div><label>Departure time: </label><input class="form-control" type="text" th:field="*{departureTime}" required/></div>
				<div><label>Arrival time: </label><input class="form-control" type="text" th:field="*{arrivalTime}" required/></div>
				<div><label>Train type: </label>
					<select class="form-control" th:field="*{trainType}">
						<option th:each="type : ${traintypes}" th:value="${type.typeId}" th:text="${type.name}"></option>
					</select>
				</div>
				<div><input type="submit" class="btn btn-primary" value="Add"/></div>
			</form>
		</div>
	</div>
</body>
</html>