<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Travel booking</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" type="text/css" href="css/css/bootstrap.min.css" th:href="@{css/css/bootstrap.min.css}">
</head>
<body>
	<div class="container">
		<h1>Travel booking</h1>
		<p>Do you want to book this trip?</p>
		<table>
			
		</table>
		<form action="#" th:action="@{/book}" method="post" th:object="${trip}">
			<input type="hidden" th:field="*{tripId}"/>
			<div><label>From: </label><input type="text" th:field="*{departure}" readonly/></div>
			<div><label>Destination: </label><input type="text" th:field="*{destination}" readonly/></div>
			<div><label>Date: </label><input type="date" th:field="*{date}" readonly/></div>
			<div><label>Departure time: </label><input type="text" th:field="*{departureTime}" readonly/></div>
			<div><label>Arrival time: </label><input type="text" th:field="*{arrivalTime}" readonly/></div>
			<div><label>Train type: </label><input type="text" th:field="*{trainType.name}" readonly/>
		</div>
			<input type="submit" value="Pay here"/>
		</form>
	</div>
</body>
</html>