<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Travel booking</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" type="text/css" href="css/css/bootstrap.min.css" th:href="@{css/css/bootstrap.min.css}">
</head>
<body>
	<button class="btn btn-primary" data-toggle="modal" data-target="#modal">Open</button>
		<div class="modal fade" id="modal">
			<div class="modal-dialog">
				<div class="modal-content">
					test
				</div>
			</div>
		</div>
	
	
</body>
</html>