<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sign up</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="css/css/bootstrap.min.css" th:href="@{css/css/bootstrap.min.css}"/>
	<style>
		.container {
			text-align: center;
			justify-content: center;
			margin: auto;
		}
	</style>
</head>
<body>
<div class="container">
	<h1>Sign-up</h1>
     <div>
		<form th:action="@{/saveuser}" action="#" th:object="${signupform}" method="post">
			<div>
				<label> Email :<input type="email" th:field="*{username}" class="form-control"/></label>
				<p th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Email Error</p>	
			</div>
			<div>
				<label> Password :<input type="password" th:field="*{password}" class="form-control"/></label>
				<p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</p>	
			</div>
			<div>
				<label> Re-type Password: <input type="password" th:field="*{passwordCheck}" class="form-control"/></label>
				<p th:if="${#fields.hasErrors('passwordCheck')}" th:errors="*{passwordCheck}">Password Match Error</p>	
			</div>
			
			<input type="submit" class="btn btn-success" value="Signup"></input>		
		</form>
	</div>
</div>
</body>
</html>