<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sign up</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link type="text/css" rel="stylesheet" href="css/css/bootstrap.min.css" th:href="@{css/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container">
	<h1 class="row">Sign Up</h1>
    <div class="form-group">	
		<form th:action="@{/saveuser}" action="#" th:object="${signupform}" method="post">
			<div><label> Email (do not put your real email address):</label><input type="email" th:field="*{username}" class="form-control"/></div>
			<p th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Email Error</p>	
			<div><label> Password :</label><input type="password" th:field="*{password}" class="form-control"/></div>
			<p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</p>	
			<div><label> Re-type Password: </label><input type="password" th:field="*{passwordCheck}" class="form-control"/></div>
			<p th:if="${#fields.hasErrors('passwordCheck')}" th:errors="*{passwordCheck}">Password Match Error</p>		
			<div><input type="submit" class="btn btn-success" value="Signup"></input></div>		
		</form>
	</div>
</div>
</body>
</html>